<!doctype html>

<html lang="en">

<head>

<!-- Required meta tags -->

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<title>Hello, world!</title>

</head>

<body>

<div class="container mt-5" style="width: 40%;">
<!-- jb koi form ka submit button dbaega to wo action wale page par jaega  -->
    <form class="p-5 shadow-lg" method="post" action="/homepage">

        <div class="mb-3">

        <label for="user" class="form-label">first name</label>

        <input type="text" name="fname" class="form-control" id="user">

        </div>

        <div class="mb-3">

        <label for="user2" class="form-label">last name</label>

        <input type="text" name="lname" class="form-control" id="use2">

        </div>

        <div class="mb-3">

        <label for="exampleInputEmail1"

        class="form-label">Email address</label>

        <input type="email" name="email" class="form-control" id="exampleInputEmail1"

        aria-describedby="emailHelp">

        <div id="emailHelp" class="form-text"> 
            wellnever share your email with anyone else.</div>

        </div>

        <button type="submit" class="btn

        btn-primary">Submit</button>

    </form>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>